/*
* Simpler v1.1
*
*/

/* Import other css */
@import url('reset.css');
@import url('widgets.css');
@import url('social.css');
@import url('elements.css');
@import url('comments.css');



/* GENERAL ------------------------------------------------------------*/

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}


.clearfix:after,
.clearfix:before {
	content:"";
    display:table;
}   
    
.clearfix:after {
	clear:both;
}

.clearfix {
    zoom:1;
}

.wrapper{
	margin: 0 auto; 
	width: 980px;
	position: relative;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	
}

header, footer{
	text-shadow: 0px -1px 0px rgba(0,0,0,.8);
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {text-shadow: 0px 1px 0px rgba(255,255,255,.5);}

h1{
line-height: 70px;
}

.multiplebgs header,
.multiplebgs footer {
	background-image: url(../img/strip.png), url(../img/noise.png);
	background-repeat: repeat-x, repeat-x;
	background-position: bottom center, top center;
}

.multiplebgs footer {
	background-position: top center, top center;
}

#main,
footer{
	line-height: 1.5em;
}

body p{
	margin-bottom: 21px;
}

body a{
	text-decoration: none;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

#logo:hover{ opacity: 0.8;}

h1,h2,h3,h4,h5,h6{
	font-family: 'Arvo', Arial, sans-serif;
	font-weight: 700;
}

h1{ font-size: 42px;}

h2{ font-size: 36px; }

h3{ font-size: 24px; }

h4{ font-size: 21px; }

h5{ font-size: 18px; }

h6{ font-size: 14px; }

.block-divider{
	margin-bottom: 120px;
}

.alignleft {
  float: left;
  margin: 5px 10px 5px 0;
}

.alignright {
  float: right;
  margin: 5px 0px 5px 10px;
}

.section-div{
	height: 54px;
	border-top: 1px solid #ccc;
	
}

/* HEADER ------------------------------------------------------------*/

header{ 
	width: 100%;
	background-position: bottom center;
}

header .wrapper{
	padding: 0px 0px 57px 0px;
}

header #logo{
	float: left;
	margin-top: 20px;
}



/* HEADINGS ------------------------------------------------------------*/

.masthead{
	padding: 54px 20px 54px 20px;
	line-height: 0em;
	
}


.mh-div{
	height: 54px;
	background: url(../img/border-bg-top.png) repeat-x top left; 
}


.masthead h1{
	float: left;
}

.masthead .subheading{
	float: right;
}


.masthead.project h1{
	float: left;
	font-size: 24px;
}

.masthead.project .subheading{
	float: right;
}

/* COMBO NAVIGATION ------------------------------------------------------------*/

#comboNav{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 20px;
	float: left;
}

/* NAVIGATION ------------------------------------------------------------*/

#nav{
	margin-top: 51px;
	float: right;
	text-decoration: none;

}

#nav>li{
	margin-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}

#nav>li:first-child{ margin-left: 0px;}

#nav>li:last-child{ 
	border-right: none;
	padding-right: 0px;
}

#nav>li>a{
	font-family:  Arial, sans-serif;
	font-size: 12px;
	display: block;
	overflow: hidden;
	padding: 5px 0px 2px 0px;
	
}


/* sub navigation -----------------------------------------------------*/

#nav>li ul{
	display: block;
	margin-top: 0px;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	-o-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	
	text-shadow: none;
}

#nav>li ul li a{
	display: block;
	padding: 20px 20px;
	display: block;
	font-size: 11px;
	text-decoration: none;
}


/* CATEGORIES NAVIGATION ------------------------------------------------------------*/

.cat-nav{
	float: right;
	
}

.cat-nav li{
	display: inline;
	margin-left: 5px;
	padding-right: 5px;
}

.cat-nav li:last-child{
	border: none;
}

.cat-nav li.current{
	font-weight: bold;
}

/* SLIDER-HOLDER ------------------------------------------------------------*/

#slider-holder{
	padding-bottom: 50px;
	margin-top: 50px;
}

.home-slider{
	float: left;
}

#slider-holder #headline{
	float: left;
	margin-left: 40px;
	width: 300px; 
}

#headline h4{
	margin-bottom: 21px;
	line-height: 1.3em;
}

#headline .headline-text{
	font-size: 13px;
	line-height: 1.5em;
}




#headline .read-more:hover{ color: #ffff; }

/* PROJECT  ------------------------------------------------------------*/

#project-content{
	margin-bottom: 54px;
}

#project-content .info{
	float: left;
	width: 320px;
	margin-left: 20px;
}

#project-content .description{
	float: right;
	width: 560px;
	margin-right: 20px;
}

#project-content strong{
	color: #444;
	font-weight: bold;
}

/* RELATED PROJECTS ---------------------------------------------------*/

.related-projects{
	display: block;
	padding: 54px 0px 54px 0px;
}

.related-heading{
	font-weight: bold;
	margin: 0px 0px 20px 20px;
	margin-bottom: 54px;
}

.related-projects .related-list{
	display: block;
}

.related-projects  figure{
	display: block;
	float: left;
	margin-left: 20px;
	width: 220px;
}

.related-projects .thumb{
	display: block;
	margin-bottom: 10px;
	padding: 5px;
	
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.3); 
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.3); 
	-o-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	box-shadow: 0px 0px 3px rgba(0,0,0,.3); 
}

.related-projects .thumb:hover img{
	opacity: 0.15;
}

.related-projects figure img{
	max-width: 100%;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.related-projects .heading{
	text-decoration: none;
	font-style: normal;
	text-align: center;
	display: block;
	margin-bottom: 10px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* MAIN ------------------------------------------------------------*/

#main{ 
	width: 100%;
	position: relative;
}

#main .wrapper{ 
	min-height: 600px;
	margin-top: -37px;
}

.boxshadow #main .wrapper{
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.3); 
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.3); 
	-o-box-shadow: 0px 0px 3px rgba(0,0,0,.3);
	box-shadow: 0px 0px 3px rgba(0,0,0,.3);
}

#main #fold{
	position: absolute;
	top: 0px; 
	right: -20px;
	background: url(../img/fold.png) no-repeat;
	width: 20px;
	height: 26px;
}

/* HOME ------------------------------------------------------------*/

.home-headline{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}


.home-block{
	padding-bottom: 50px;
	margin-bottom: 0px;
}


.home-block figure{
	float: left;
	width: 300px;
	margin-left: 20px;
	margin-bottom: 20px;
	position: relative;
	line-height: 1.2em;
}

.home-block figure .thumb{
	display: block;
	width: 280px;
	padding: 10px;
	margin-bottom: 19px;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.1); 
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.1);
	-o-box-shadow: 0px 0px 3px rgba(0,0,0,.1);
	box-shadow: 0px 0px 3px rgba(0,0,0,.1);
}

.home-block figure img{
	max-width: 100%;
		
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.home-block figure .thumb:hover img{
	opacity: 0.1;
}

.home-block figure figcaption{
	line-height: 1.5em;
}
.home-block figure figcaption strong{
	display: block;
	font-size: 18px;
	margin-bottom: 11px;
}

.home-block .theme-link-button,
.left-home-block .theme-link-button,
.right-home-block .theme-link-button{
	float: right;
	margin-top: 13px;
	margin-right: 20px;
}

.home-add{
	background: url(../img/border-bg-top.png) repeat-x top left;
	padding-top: 50px;
}

/* PAGE CONTENT ----------------------------------------------------*/

#page-content{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 60px;
}

/* COLUMNS LAYOUT----------------------------------------------------------*/

.one-half,
.one-third,
.one-fourth{	
	float:left;
	margin-bottom: 40px;
	margin-right: 2.1276%;
	position:relative;
}

.one-half{ 
	width: 48.9361%;
}

.one-third{ 
	width: 31.9148%;
	
}

.one-fourth{ 
	width: 23.4042%;
}

.last {
	clear:right;
	margin-right:0 !important;
}

/* CONTACT ------------------------------------------------------------*/


#map{
	display: block;
	height: 300px;
	width: 100%;
	margin-bottom: 56px;	
}

.address-block li{
	padding-left: 20px;
}

.address-block .address{ background: url(../img/icon-address.png) no-repeat top left  }

.address-block .phone{ background: url(../img/icon-phone.png) no-repeat top left}

.address-block .mobile{ background: url(../img/icon-mobile.png) no-repeat top left }

.address-block .email{ background: url(../img/icon-email.png) no-repeat top left }


/* BLOG ------------------------------------------------------------*/

#posts-list,
#post-content{
	position: relative;
	width: 96%;
	float: left;
}

#posts-list article{
	position: relative;
	padding-left: 80px;
	margin-bottom: 55px;
}



#posts-list .entry-date,
#posts-content .entry-date,
.home-posts .entry-date{
	position: absolute;
	top: 0px;
	left: -17px;
	padding: 17px;
	font-family: 'Arvo', Arial, sans-serif;
	line-height: 1em;
}

#posts-list .entry-date .number,
#posts-content .entry-date .number,
.home-posts .entry-date .number{
	font-size: 21px;
	text-align: center;
	margin-bottom: 3px;
}

#posts-list .entry-date .month,
#posts-content .entry-date .month,
.home-posts .entry-date .month{
	font-size: 14px;
	text-align: center;
}

#posts-list .entry-date .year,
#posts-content .entry-date .year,
.home-posts .entry-date .year{
	font-size: 12px;
	text-align: center;
}

#posts-list .entry-date em,
#posts-content .entry-date em,
.home-posts .entry-date em{
	display: block;
	background: url(../img/fold-date.png) no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	bottom: -16px;
	left: 0px;
}

#posts-list .post-heading,
#posts-content .post-heading{
	margin-bottom: 19px;
	line-height: 1.0em;
}

#posts-list .post-heading h4,
#posts-content .post-heading h4{
	line-height: 1.2em;
}

#posts-list .post-heading .meta a{
	font-family: 'Arvo', Arial, sans-serif;
	font-size: 13px;
	line-height: 1.5em;
}

#posts-list .feature-image,
#post-content .feature-image{
	width: 490px;
	margin-bottom: 21px;
	line-height: 0em;
	padding: 5px;
	
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.2);
	-o-box-shadow: 0px 0px 3px rgba(0,0,0,.2);
	box-shadow: 0px 0px 3px rgba(0,0,0,.2);
}

#posts-list .feature-image:hover img,
#post-content .feature-image:hover img{
	opacity: 0.1;
}

#posts-list .feature-image a,
#post-content .feature-image a{
	display: block;
}


#posts-list .feature-image img,
#post-content .feature-image img{
	max-width: 100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#posts-list .excerpt{
	display: block;
	margin-bottom: 20px;
}

/* HOME POSTS ---------------------------------------------------------*/

.left-home-block,
.right-home-block{
	width: 440px;
	float: left;
	
	margin-bottom: 30px;
}

.left-page-block,
.right-page-block{
	width: 440px;
	float: left;
	margin-bottom: 30px;
}

.left-page-block{
	margin-right: 55px;
}

.left-home-block{
	margin-left: 20px;
	margin-right: 55px;
}

.left-home-block .heading,
.right-home-block .heading{
	margin-bottom: 53px;
}

.home-posts article{
	position: relative;
	padding-left: 60px;
	margin-bottom: 50px;		
}

.home-posts .entry-date{
	left: -36px;	
}


.home-posts .post-heading{
	margin-bottom: 8px;
}

/* CLIENT LOGOS ---------------------------------------------------------*/

.clients-logos{
	display: block;
	margin-bottom: 54px;
	
	
}

.clients-logos li{
	display: block;
	width: 140px;
	float: left;
	margin: .5px;
	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.1); 
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.1); 
	-o-box-shadow: 0px 0px 2px rgba(0,0,0,.1);
	box-shadow: 0px 0px 2px rgba(0,0,0,.1);
}

.clients-logos li a{
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
}

.clients-logos li a img{
	max-width: 100%;
	opacity: 0.5;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.clients-logos li a:hover img{
	opacity: 1;
}

/* PORTFOLIO ------------------------------------------------------------*/


.portfolio-list figure{
	float: left;
	width: 300px;
	margin-left: 20px;
	margin-bottom: 20px;
	position: relative;
	line-height: 1.2em;
	
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.1); 
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.1);
	-o-box-shadow: 0px 0px 3px rgba(0,0,0,.1);
	box-shadow: 0px 0px 3px rgba(0,0,0,.1);
}

.portfolio-list figure .thumb{
	display: block;
	width: 280px;
	padding: 10px;
	margin-bottom: 0px;
}

.portfolio-list figure .thumb:hover img{
	opacity: 0.4;
}

.portfolio-list figure img{
	max-width: 100%;
		
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.portfolio-list figcaption{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 1.5em;
}

/* PAGER ------------------------------------------------------------*/

.pager{
	overflow: hidden;
	display: block;
	font-size: 11px;
	margin: 0px 24px 0px 24px;
	padding-bottom: 50px;
}

.pager li{
	display: block;
	margin-right: 5px;
	float: left;
}

.pager li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	width: 20px;
	line-height: 20px;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.pager .paged{
	float:right;
	font-style:italic;
}


/* PAGE NAVIGATION ------------------------------------------------------------*/

.page-navigation{
	display: block;
	margin-left: 20px;
	margin-bottom: 100px;
	font-size: 16px;
	font-weight: bold;
}

.page-navigation a{
	display: block;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.page-navigation .nav-next{
	float: left;
}

.page-navigation .nav-previous{
	float: right;
}

/* PROJECT PAGER ------------------------------------------------------------*/

.project-pager{
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 54px;
}

.project-pager .previous-project{
	float: left;
}

.project-pager .next-project{
	float: right;
}


/* SIDEBAR ------------------------------------------------------------*/

#sidebar{
	position: relative;
	width: 320px; 
	float: left;
	margin-left: 60px;
}

#sidebar .block{
	margin-bottom: 40px;
	padding-bottom: 5px;
}


#sidebar h4,
#contact-sidebar h4{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 15px;
}

#sidebar li{
	margin-bottom: 7px;
}


/* WIDGET COLS ------------------------------------------------------------*/

.widget-cols{
	margin-bottom: 30px;
}

.widget-cols h4{
	margin-bottom: 28px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
}

.widget-cols>li{
	width: 220px;
	float: left;
	margin-left: 20px;
}

.widget-cols>li.fourth-col{
	margin-right: 0px;
}

/* FOOTER ------------------------------------------------------------*/

footer{ font-size: 11px; }


footer .wrapper{
	margin-top: -37px;
	padding-top: 74px;
}

/* FOOTER BOTTOM ------------------------------------------------------------*/

.footer-bottom{
	padding-top: 20px;
	padding-bottom: 60px;
	padding-left: 20px;
	padding-right: 20px;
	background: rgba(0,0,0,0.1);
	overflow: hidden;
}

.footer-bottom .left{
	width: 50%;
	padding-top: 10px;
	float: left;
}

.footer-bottom .right{
	width: 50%;
	float: right;
}
.catalog-menu{
text-decoration: none;
}
.catalog-menu>li:first-child{
margin-left: 0px;
}
.catalog-menu>li{
margin-left: 10px;
padding-right: 10px;
border-right: 1px solid #ccc;
}
.catalog-menu>li:last-child{
border-right: none;
padding-right: 0px;
}
.catalog-menu>li>a{
color: #f1f1f1;
}
.catalog-menu>li.current-menu-item>a{
border-bottom: solid #fee271 2px;
}
.catalog-menu>li ul{
background: #f1f1f1;
}
.catalog-menu>li ul li a{
color: #444;
}
.catalog-menu>li ul li a{
display: block;
padding: 20px 20px;
display: block;
font-size: 11px;
text-decoration: none;
}
.catalog-menu>li ul li a:hover{
background: #3b424b;
color: #fbe471;
}
.wrapper-reg{
background-color: #EFECE8;
border-bottom: 11px solid #BFBDBA;
height: 0;
box-sizing: border-box;
}
.wrapper-reg > div.wrapper{
padding: 0;
}
.info{
float: left;
}
.autorisation{
display: none;
float: right;
width: 90px;
box-sizing: border-box;
padding-top: 6px;
}
.info p{
margin: 3px 0;
}
.info a{

}
.autorisation a{
margin-left: 10px;
margin: 3px 0;
float: right;
}
.search-on{
width: 100%;
position: relative;
}
.search-on input:first-child{
width: 100%;
height: 30px;
outline: none;
box-sizing: border-box;
padding: 0px 45px 0px 15px;
font-size: 16px;
}
.search-on input:last-child{
position: absolute;
top: 0;
right: 0;
border: 0;
outline: none;
background: url(/assets/img/search.png) no-repeat;
height: 30px;
width: 30px;
display: block;
padding: 0;
cursor: pointer;
background-size: 100%;
}
.wrapper-catalog{
padding-bottom: 20px !important;
margin: 0 auto;
width: 980px;
position: relative;
}
#nav-footer{
margin-top: 51px;
float: left;
text-decoration: none;
}
#nav-footer>li{
margin-left: 10px;
padding-right: 10px;
border-right: 1px solid #ccc;
}
#nav-footer>li:first-child{
margin-left: 0px;
}
#nav-footer>li.current-menu-item>a{
border-bottom: solid #fee271 2px;
}
#nav-footer>li>a{
color: #f1f1f1;
}
#nav-footer>li:last-child{
border-right: none;
padding-right: 0px;
}
.left p{
margin-bottom: 1px;
}
.left a{

}
.left{
padding: 0;
}
.text-wrapper{
box-sizing: border-box;
padding: 20px 30px !important;
}
.wrapper-footer{
margin: 0 auto;
width: 980px;
position: relative;
}
.left-catalog{
    float: left;
    width: 260px;
    margin-top: 20px;
}
.left-catalog a.active{
	background: #3b424b;
    color: #fbe471;
	padding-left: 10px;
}
.left-catalog > ul{
    width: 100%;
    float: left;
    list-style: none;
}
.left-catalog > ul > li{
    float: left;
    width: 90%;
    margin-left: 10px !important;
    padding: 0;
    border: 0;
    border-bottom: 1px solid;
}
.left-catalog > ul > li > a{
	color: #383F47;
    font-weight: bold;
    font-size: 14px;
}
.left-catalog > ul > li > a:hover{
	background: #3b424b;
    color: #fbe471;
	padding-left: 10px;
}
.left-catalog > ul > li > ul{
    z-index: 99;
    position: relative;
    top: 0 !important;
    width: 100%;
    overflow: hidden;
    margin: 2px 0;
}
.left-catalog > ul > li > ul > li{

}
.left-catalog > ul > li > ul > li > a{
    padding: 0;
    padding-left: 10px
}
.product{
    width: 100%;
}
.product-left{
    width: 720px;
    float: left;
    display: none;
    overflow: hidden;
    min-height: 50px;
}
.product-left > h1{
    font-size: 24px;
    line-height: 30px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-left: 36px;
	float: left;
}
.product-left > h1:before{
    content: " ";
    background: url(/assets/img/ex/1.jpg) no-repeat;
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    background-position: 50% 50%;
    background-size: 100%;
    top: 0;
    left: 0;
}
.product-rating{
	width: 100%;
	float: left;
	height: 28px;
    margin-bottom: 10px;
	position: relative;
}
.product-rating > p{

}
.product-rating > div{

}
.rating-count{
    width: 144px;
    text-align: center;
    margin: 0;
	float: left;
}
.rating{
    width: 144px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url(/assets/img/starsback.png) no-repeat;
    background-position-x: -43px;
    background-position-y: 0px;
}
.rating > img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.rating-bottom{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.rating-bottom > a{
    display: block;
    height: 100%;
    width: 28px;
    float: left;
    cursor: pointer;
}
.rating-bottom > a:first-child{

}
.rating-bottom > a:last-child{

}
.rating-status{
    width: 144px;
    float: right;
    position: relative;
    text-align: right;
    box-sizing: border-box;
    padding: 0 20px;
    margin-right: 50px;
}
.rating-status > span{
    position: absolute;
    top: 0;
    left: 34px;
    bottom: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 8px;
}
.rating-status > span.green{
    background-color: #01A211;
}
.rating-status > span.red{
    background-color: #FF0000;
}
.gallery-wrapper{
    width: 45%;
    float: left;
    margin-top: 30px;
}
.gallery-wrapper > div{
    width: 80%;
    margin: 0 auto;
    height: 260px;
    background-size: 100% !important;
    background-position: 50% !important;
    border-radius: 5px;
}
.gallery-wrapper > ul{
    width: 100%;
    height: 44px;
    border-radius: 5px;
    margin-top: 10px;
    list-style: none;
}
.gallery-wrapper > ul > li{
    float: left;
    height: 100%;
    width: 54px;
}
.gallery-wrapper > ul > li:hover{
    background: url(/assets/img/orangeback.png) repeat;
}
.gallery-wrapper > ul > li:first-child{

}
.gallery-wrapper > ul > li:last-child{

}
.gallery-wrapper > ul > li.select{
    background: url(/assets/img/orangeback.png) repeat;
}
.gallery-wrapper > ul > li > a{
    width: 44px;
    height: 44px;
    display: block;
    margin: 0 auto;
    background-position: 50% 50% !important;
    background-size: 100% auto !important;
}
.price-and-buttons{
    width: 55%;
    float: left;
    margin-top: 30px;
}
.price-and-buttons > p{

}
.price-and-buttons > a{
    display: block;
    width: 140px;
    height: 36px;
    text-align: center;
    box-sizing: border-box;
    float: right;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 20px;
    background-color: #DD5A00;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 8px;
    color: #F1F1F1;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(140,140,140,1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(140,140,140,1);
    box-shadow: 6px 6px 5px 0px rgba(140,140,140,1);
    cursor: pointer;
}
.price-and-buttons > a:hover{
	background-color: #2E343B;
    color: #F1F1F1;
}
.price{
    margin: 0;
    width: 100px;
    font-weight: bold;
    color: #DD5A00;
    font-size: 20px;
    float: right;
    margin-left: 200px;
    margin-right: 50px;
}
.price > span{
    color: #888;
    font-size: 14px;
}
.add-to-card{

}
.bye-product{

}
.compare-product{

}
.product-right{
    float: left;
    width: 200px;
}
.product-right > nav{
    width: 100%;
    margin-top: 40px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(140,140,140,1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(140,140,140,1);
    box-shadow: 6px 6px 5px 0px rgba(140,140,140,1);
}
.product-right > nav > ul{
    list-style: none;
    width: 100%;
}
.product-right > nav > ul > li{
    width: 100%;
    vertical-align: middle;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 12px;
    cursor: pointer;
    background-color: #DD5A00;
    color: white;
    border-bottom: 1px solid;
}
.product-right > nav > ul > li:hover{
    background-color: #49515A;
    color: #F1F1F1;
}
.product-right > nav > ul > li:last-child{
    border: 0;
}
.product-right > nav > ul > li.active{
    background-color: #2E343B;
    color: #F1F1F1;
}
.title-product-rating{
    width: 100%;
    float: left;
    margin-top: 10px;
    position: relative;
}
.title-product-rating > p{
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    color: #B84A13;
    width: 144px;
    text-align: center;
}
.title-product-rating > p:nth-child(1){
    float: left;
}
.title-product-rating > p:nth-child(2){
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.title-product-rating > p:nth-child(3){
    float: right;
    margin-right: 50px;
}
.product-left > table{
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 50px;
}
.product-left > table > tbody > tr{
    
}
.product-left > table > tbody > tr > td{
    box-sizing: border-box;
    border-bottom: 1px solid;
    min-width: 300px;
    text-align: left;
    padding: 6px 12px;
    font-size: 16px;
    color: #383F47;
}
.product-left > table > tbody > tr > td:first-child{
    border-right: 1px solid;
}
.product-left > table > tbody > tr:nth-child(even){
    background-color: none;
}
.product-left > table > tbody > tr:nth-child(odd){
    background-color: #C8D1DA;
}
.product-left > table > tbody > tr:first-child{
    background-color: #323940;
    color: #fff;
}
.product-left > table > tbody > tr:first-child > td{
    text-align: center;
    border: 0;
    color: #fff;
}